</div>
</div>
<div id="botones" style="font-size: 60px; color: red;">
    <a class="carousel-control-prev" href="#demo"  data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only">Atras</span>

       
      </a>
      <a class="carousel-control-next" href="#demo"  data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only">Siguiente</span>

      
      </a>



</div>
  </div>   </div>  </div>
</center>
<br><br><br><br><br><br>
<div class="card text-center">
 
  <div class="card-body">
    <h5 class="card-title">Página hecha por:</h5>
    <p class="card-text"><center>{{autor}} - {{year}}</center></p>
  </div>
  <div class="card-footer text-muted">
    Tarea, página dinámica aplicando hbs y Partials
  </div>
</div>

</body>
