{{> header}}
    <a href="https://www.amdebrincat.com/"><h1 style="font-size: 500%;" id="tittle2">AM DeBrincat (Karen Mainenti)</h1></a>
    <p><br></p>
    <div>
    <p>AM DeBrincat es una pintora maltés-estadounidense con sede en Brooklyn, Nueva York. Su trabajo combina pintura al óleo, fotografía digital y grabado en pinturas en capas que exploran cómo construimos identidad en la era digital.</p>
    <p>Su trabajo ha sido exhibido ampliamente, incluyendo exposiciones individuales recientes en Los Ángeles, Nueva York, Suecia y Australia, y exposiciones grupales en Europa, Canadá, Australia, Ciudad de México y en todo Estados Unidos. Ha sido artista residente en el Museo de Arte Contemporáneo de Massachusetts (MASS MoCA), Chashama y el Proyecto Wassaic, y ha recibido subvenciones y fondos del Museo de Arte Contemporáneo de Massachusetts, la Fundación Durst y el Fondo Deming.</p>
    </div>
    <div id="AMfrase">
        <em>"But now when I see it, I just think of meditation and how much peace and joy it’s brought me."</em>
    </div>
    
    
<center>
  <div class="container">



    <div class="col-md-12">
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>

      </ul>



      <div class="carousel-inner">
        <div class="carousel-item indicators active">
        <img src="https://i.pinimg.com/736x/2b/49/66/2b4966bd877d0a422b4c1befa6e49b01.jpg" height="700" >
        </div>
        <div class="carousel-item indicators">
        <img src="https://cdn.domestika.org/c_limit,dpr_1.0,f_auto,q_auto,w_610/v1573824651/content-items/003/410/663/AM-DeBrincat_MeringueMasquerade2-original.jpg?1573824651"   height="700">
        </div>
        <div class="carousel-item indicators">
        <img class="imagen3" src="https://cdn.domestika.org/c_limit,dpr_1.0,f_auto,q_auto,w_610/v1573824651/content-items/003/410/664/AM-DeBrincat_Jaunty2-original.jpg?1573824651"  height="700">
        </div>
        <div class="carousel-item indicators">
        <img class="imagen4"  src="https://cdn.domestika.org/c_limit,dpr_1.0,f_auto,q_auto,w_610/v1573824651/content-items/003/410/666/AM-DeBrincat_TheUtopian2-original.jpg?1573824651"   height="700">
        </div>
        <div class="carousel-item indicators">
        <img class="imagen5"  src="https://cdn.domestika.org/c_limit,dpr_1.0,f_auto,q_auto,w_610/v1573824651/content-items/003/410/668/AM-DeBrincat_DapperCompanion2-original.jpg?1573824651"   height="700">
        {{> footer}}
