{{> header}}
    <p><br></p>
    <a href="https://www.elly.ca/"><h1 style="font-size: 550%;" id="tittle3">Elly Smallwool</h1></a>
    <p><br></p>
    <div>
    <p>Originaria de Ottawa, Elly Smallwood se mudó a Toronto para perseguir su amor por el arte en la Universidad OCAD. Se graduó con su BFA en Dibujo y Pintura en 2011. Sus pinturas son intensamente personales, una exploración visual de su mente y cuerpo, y los de las personas que la rodean.</p>
    </div>
    <div id="AMfrase">
        <em>"I aim to break down my own personal boundaries and push myself to use abandon when I would normally use caution, to destroy those marks which I begin to hold as precious. These pieces are an exploration of the innocent and the grotesque; delicate figures become unnerving and soft colours are smeared across figures. In my works I see a twisted view of self, a visceral representation of how I view humanity, particularly in regards to my own body."</em>
    </div>
    
    
<center>
  <div class="container">



    <div class="col-md-12">
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>

      </ul>



      <div class="carousel-inner">
        <div class="carousel-item indicators active">
        <img src="https://www.achtungmag.com/wp-content/uploads/2019/11/Elly-Smallwood_Kim_%C3%B3leo-sobre-lienzo-914-x-7239-cm-785x1024.jpg "   height="700">
        </div>
        <div class="carousel-item indicators">
        <img src="https://ashleighhewitt97.files.wordpress.com/2018/02/elly-smallwood-22.jpg"   height="700">
        </div>
        <div class="carousel-item indicators">
        <img class="imagen3" src="https://payload.cargocollective.com/1/18/607840/11862415/ellysmallwood_07_578.jpg"  height="700">
        </div>
        <div class="carousel-item indicators">
        <img class="imagen4"  src="https://d32dm0rphc51dk.cloudfront.net/SrJaDWjyP_0Qbfh58xORzw/large.jpg"   height="700">
        </div>
        <div class="carousel-item indicators">
        <img class="imagen5"  src="https://images.squarespace-cdn.com/content/v1/59541ad4893fc0ce0a1cb687/1537139687227-CR00O370GSTTARAGLN7L/ke17ZwdGBToddI8pDm48kNe6zOZTHfz7l6ZgjxUpukVZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PI_yASvo-WEqohroAwDGiHyF2S9ug-6_kqb0gBNu81ch4KMshLAGzx4R3EDFOm1kBS/40128095_935450359979473_1048637581241090048_n.jpg"   height="700">
        {{> footer}}