{{> header}}
    <script>alert('Bienvenide a mi tarea, aquí están mis artistas favoritas y favoritos ')</script>
    <h1 style="font-size: 700%;">Mis Pintoras Y Pintores preferidos</h1> <br><br> <br>
    <table id="Table1">
        <tr>
            <th>Koi Samsa</th>
            <th>AM DeBrincat</th>
        </tr>
        <tr>
            <td>
            <a href='/koi'><img src="https://i.ytimg.com/vi/loBtSO0yy14/maxresdefault.jpg" alt="KoiSamsa" height="300" width="450"></a>
            </td>
            <td>
            <a href='/AM'><img src="https://groundfloorbk.com/wp-content/uploads/2019/09/WIP_SpringBreak-KMainenti_Portraits_030519_348-400x274.jpg" alt="AmDeBrincant" height="300" width="450"></a>
            </td>
        </tr>
    </table>
    <table id="Table2">
        <tr>
            <th>Jaime Ruíz</th>
            <th>Elly Smallwood</th>
            <th>Liam Decay</th>
        </tr>
        <tr>
            <td>
            <a href='/jaime'><img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f8f9b020660413.562ef04304ac4.jpg" alt="Jaime Ruíz" height="300"></a>
            </td>
            <td>
            <a href='/elly'><img src="https://static.wixstatic.com/media/c8a2f3_6838319dd6d64bb9bfda945e2102903e~mv2.jpg/v1/fill/w_824,h_824,fp_0.50_0.50,q_90/c8a2f3_6838319dd6d64bb9bfda945e2102903e~mv2.webp" alt="EllySmallwood" height="300"></a>
            </td>
            <td>
            <a href='/liam'><img src="https://scontent-lht6-1.cdninstagram.com/v/t51.2885-15/e35/p180x180/28151139_206054760129972_5445011812468654080_n.jpg?_nc_ht=scontent-lht6-1.cdninstagram.com&_nc_cat=100&_nc_ohc=aVw44-5yH4oAX_1k_hq&oh=12e2d8161ce8501dc5e56a9043011d58&oe=5EF19CDA&ig_cache_key=MTcyMjc3ODU3NjM1MDM2MTI1MA%3D%3D.2" alt="laRouille" height="300"></a>
            </td>
        </tr>
    </table>
    <a href="me.html"><marquee behavior="Scroll" direction="rigth">About Me</marquee></a>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>    
</html>