{{> header}}
    <a href="https://www.behance.net/jaimeruiz/projects"><h1 style="font-size: 550%;" id="tittle4">Jaime Ruíz</h1></a>
    <p><br></p>

    <div id="koiFrase">
        <em>"En lo que desarrollo como obra existe  un interés y una inclinación por capturar la psique del sujeto, su esencia, con unos denodados esfuerzos por conocer y llegar a definir una imagen que se disemina y dispersa como una área de reflexión donde se inscribe el doble, el Otro. Busco lo esencial, que la pintura tome de la forma más directa posible la identidad material de aquello que representa.La abstracción, la disminución a los rasgos fisionómicos, es sin lugar a duda un intento por transcribir el cúmulo de sensaciones que el individuo retratado suscita en mí, y esta reacción emocional y subjetiva condiciona el conjunto de las formas de cada pintura dentro de un compendio lingüístico determinado. Busco además transformar el estereotipo de un retrato convencional, que únicamente simula la individualidad concreta en una imagen, proceso donde el rostro humano aparece en los límites de su disolución."
           </em>
    </div>
    
    
<center>
  <div class="container">




    <div class="col-md-12">
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>

      </ul>



      <div class="carousel-inner">
        <div class="carousel-item indicators active">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f6b7a440777793.578d1c36cc12d.jpg" height="700" >
        </div>
        <div class="carousel-item indicators">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/edf00730248953.561a99826290b.jpg"   height="700">
        </div>
        <div class="carousel-item indicators">
        <img class="imagen3" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b1bce940816645.578e6c9c15ce2.jpg"  height="700">
        </div>
        <div class="carousel-item indicators">
        <img class="imagen4"  src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/016a4427335349.56363b76bb8d1.jpg"   height="700">
        </div>
        <div class="carousel-item indicators">
        <img class="imagen5"  src="https://haitchforhandmade.com/media/catalog/product/cache/1/small_image/300x/17f82f742ffe127f42dca9de82fb58b1/I/M/IMG_20180522_115230_873.jpg"   height="700">
        {{> footer}}