{{> header}}
    <a href="https://koisamsa.net/"><h1 style="font-size: 550%;" id="tittle1">Koi Samsa</h1></a>
    <p><br></p>
    <div>
        <p>  
            Patricia es diseñadora especializada en branding, y comunicación corporativa, docente, twittera, directora de arte, vlogger… Esto es sólo una parte de lo que es Koi Samsa.
            Actual Talent Manager de Tuiwok Estudios, se dedica a encontrar y potenciar talento en YouTube. Ha participado en numerosos proyectos como el Summer Play Tour, evento basado en el contacto sobre el escenario entre youtubers y seguidores, que cuenta ya con 2 ediciones y ha pasado por seis ciudades españolas.
        </p>
    </div>
    <div id="koiFrase">
        <em>"Mi medio de expresión es plástico y audiovisual sin embargo,
            la palabra y el discurso son imprescindibles en todo lo que hago en tanto que las palabras y 
            los discursos modulan y estructuran a las ideas. Quizá por eso el lettering, el arte y la propia narrativa
            son inherentes a mi manera de entender el trabajo y la vida."
           </em>
    </div>
    
    
<center>
  <div class="container">



    <div class="col-md-12">
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>

      </ul>



      <div class="carousel-inner">
        <div class="carousel-item indicators active">
        <img src="https://pbs.twimg.com/media/DkgxIS9X0AAqQTO.jpg" height="700" >
        <h5>Rostro abstracto</h5>
        </div>
        <div class="carousel-item indicators">
        <img src="https://pbs.twimg.com/media/DRWvSy0WAAAsd0l.jpg"   height="700">
        <h5>"Sigue nadando", peces koi</h5>
        </div>
        <div class="carousel-item indicators">
        <img class="imagen3" src="https://i2.wp.com/mas.laopiniondemalaga.es/blog/control-c-v/wp-content/uploads/sites/13/2018/10/44431626_161201731490775_6366967460708483072_n.jpg?fit=960%2C959&ssl=1"  height="700">
        <h5>Retrato</h5>
        </div>
        <div class="carousel-item indicators">
        <img class="imagen4"  src="https://pbs.twimg.com/media/DRWvSy3XUAAq_7y.jpg"   height="700">
        <h5>"La Curiosidad Salvó Al Gato" Un Michi todo cute UWU</h5>
        </div>
        <div class="carousel-item indicators">
        <img class="imagen5"  src="https://i.pinimg.com/originals/08/39/74/08397433e2242ce0afb76d09f972ffdb.jpg"   height="700">
        <h5>Bosque abstracto</h5>
        {{> footer}}