{{> header}}
    <a href="https://www.liamdecay.com/"><h1 style="font-size: 550%;" id="tittle5">La Rouille (Liam Decay)</h1></a>
    <p><br></p>

    <div>
    <p>La rouille nació en 1981 en Chambéry, vive y trabaja en Francia. <br>
    Autodidacta, La rouille descubrió la pintura tarde en las exploraciones urbanas. <br>
    Atraído por las atmósferas únicas que emergen de estos espacios urbanos abandonados por el hombre, su enfoque se centra en el daño relacionado con la historia y el tiempo, así como con el físico y el memorial.
</p>
    </div>
    <div id="AMfrase">
        <em>"The silhouettes bring to life for a brief moment, to these forgotten places. Often resonate with his own ghosts and those who haunt these various locations."</em>
    </div>
    
    
<center>
  <div class="container">



    <div class="col-md-12">
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>

      </ul>



      <div class="carousel-inner">
        <div class="carousel-item indicators active">
        <img src="https://scontent-lhr8-1.cdninstagram.com/v/t51.2885-15/e35/p240x240/67379996_128697588382492_4067232708301789267_n.jpg?_nc_ht=scontent-lhr8-1.cdninstagram.com&_nc_cat=104&_nc_ohc=GM4MrXi-WbgAX_ws_3V&oh=42c2a39198ac82f5c1da9d94effbc844&oe=5ED30132&ig_cache_key=MjA5Njc5NTM4MzgzNDU3MzM2OA%3D%3D.2"   height="700">
        </div>
        <div class="carousel-item indicators">
        <img src="https://scontent-atl3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/80794042_466823350891128_3302945660572883820_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com&_nc_cat=100&_nc_ohc=UHVPZMj37KMAX8GrpA1&oh=d67495b8b8d39786e7d799e21191f87e&oe=5ECF2712"   height="700">
        </div>
        <div class="carousel-item indicators">
        <img class="imagen3" src="https://scontent-lht6-1.cdninstagram.com/v/t51.2885-15/e35/p240x240/65127334_502539670511969_9117937961180376008_n.jpg?_nc_ht=scontent-lht6-1.cdninstagram.com&_nc_cat=105&_nc_ohc=mbs2yNL6QvcAX9ttwyN&oh=249dd2787d2b9f7e2b8179b4aa98ac0c&oe=5ED581FC&ig_cache_key=MjA4MjI4NDU1MzQ1NzY4MTYxMg%3D%3D.2"  height="700">
        </div>
        <div class="carousel-item indicators">
        <img class="imagen4"  src="https://scontent-lht6-1.cdninstagram.com/v/t51.2885-15/e35/p240x240/75272067_149636016405798_6259546892126525188_n.jpg?_nc_ht=scontent-lht6-1.cdninstagram.com&_nc_cat=106&_nc_ohc=W5OXob-CrBAAX-3lWWR&oh=6433cb0afea1356d383235c304b67640&oe=5ED28DBA&ig_cache_key=MjE3NTA4OTcyMjYzMjgwNjIyNw%3D%3D.2"   height="700">
        </div>
        <div class="carousel-item indicators">
        <img src="https://scontent-lht6-1.cdninstagram.com/v/t51.2885-15/e35/p240x240/65864675_156995138773236_6109637172268988871_n.jpg?_nc_ht=scontent-lht6-1.cdninstagram.com&_nc_cat=100&_nc_ohc=_LIX5TmQMRMAX87dOwb&oh=ec2d527071f9b2f6906e1b7e123e4e3f&oe=5ED5A44D&ig_cache_key=MjA4ODA2MjYxNDMyNTM5NTA1Mg%3D%3D.2" height="700">
        {{> footer}}